
    document, body {
      margin: 0;
      min-height: 100vh;
    }
    body {
      align-items: center;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }

    #container {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    #container>:first-child {
      cursor: pointer;
    }

    button {
      max-width: 200px;
      margin-top: 10px;
    }

#nav {
  background: rgba(255,255,255,.3);
  backdrop-filter: blur(10px);
  border-right: 2px solid #FFF;
  display: none;
  height: 100vh;
  left: 0px;
  list-style: none;
  margin: 0;
  min-width: 100px;
  padding: 50 20;
  position: fixed;
  top: 0px;
}
#nav.visible {
  display: block;
}
#nav a {
  color: #222;
  text-decoration: none;
}